body {
  background-color: #FC4243
}

p {
  color: #FFF;
  font-weight: bold;
  font-size: 17px;
}

div {
  text-align: center
}

input {
  padding: 8px 50px 8px 0;
  border: solid;
  border-color: #FFF;
  border-radius: 10px;
}

h1 {
  color: #4A1314;
}