* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FB4446;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: #4B1415;
  border: solid #4B1415;
  color: #FFF;
  cursor: pointer;
  outline: none;
}

#equal {
  height: 102px;
}

#num0 {
  width: 102px;
}

.button:hover {
  background-color: #000;
  border: solid #000;
}

.result {
  width: 204px;
  height: 45px;
  font-size: 25px;
  font-weight: bold;
}