body {
  background-color: #FC4243
}

div {
  text-align: center;
}

input {
  padding: 8px 50px 8px 0;
  border: solid #000;
  outline: none
}

button {
  padding: 8px 9px;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  border: solid #000;
  margin-left: -2px;
  cursor: pointer;
  outline: none
}