.button {
  padding: 10px;
  color: #FFF;
  background-color: #171717;
  border-radius: 4px;
  border: solid;
  border-color: #171717;
  font-weight: bold;
  outline-style: none;
  cursor: pointer;
}

body {
  background-color: #FC4243
}

.otherColor {
  background-color: #0CA6B0;
}


.central {
  text-align: center;
}